---
layout: default
title: Home
notitle: true
image: img/flag-logo.png
jumbotron: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [labhead, postdoc]
    width: 10
    image: true
  - roles: [predoc]
    width: 10
    image: true
- - roles: [collab, ugrad]
    width: 10
    image: false
  - roles: [alumni]
    width: 1
    image: false

---

<section>
    <h2>Research Areas</h2>
    <div class="card-columns">
        <!--{% assign areas = site.researchareas  %} <!--| sort: 'order', 'first'
        {% assign areas = areas | reverse %} -->
        {% for a in site.researchareas %}
            {% include project-card.html area = a %}
        {% endfor %}
    </div>
</section>

<section>
    <div class="row">
        <div class="col-lg-3" style="background-color: #000000; color: white">
            <h1>News</h1>
        </div>
        <p>>Twitter</p>
    </div>
</section> 