<table class="table">
    <tbody>
      <tr>
        {% for a in site.researchareas %}
        <td style="width:25%">
            <div class="table-image">
              <img class="{{ a.title }}" src="{{ a.image }}" height="40%" width="40%"/>
              <br />
              <strong>{{ a.title }} </strong>
            </div>
            <br />
            <p>{{ a.description }}</p>
            <br />
            <div style="text-align:right">
              <a href="{{ a.url }}">read more ...</a>
            </div>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>