<table class="table">
    <tbody>
        {% assign undergrad_there = false %}
        {% assign master_there = false %}
        {% assign year = site.time | date: '%Y' | plus: 0 %}
        {% assign sortedTopics = site.thesistopics | sort: 'level'  %}
        {% for entry in sortedTopics %}	
            {% assign file_name = entry.file %}
        {% if entry.period >= year %}
        <tr>
            {% if entry.level == "undergrad" %}
                {% if undergrad_there == false %}
                <td>
                    <span class="level">
                        <big><strong>Undergrad theses</strong></big><br />
                    </span>
                </td>
                {% assign undergrad_there = true %}
                {% else %}	
                <td></td>
                {% endif %}
            {% else %}
                {% if master_there == false %}
                <td>
                    <span class="level">
                        <big><strong>Master theses</strong></big><br />
                    </span>
                </td>
                {% assign master_there = true %}
                {% else %}	
                <td></td>
                {% endif %}
            {% endif %}
            <td class="topic">
                <span class="publish_year"><strong>{{ entry.period }}</strong></span>.
                <span class="thesis_title">
                    {{ entry.title }}.
                </span>
                <p> <strong> Short description: </strong>  {{ entry.abstract }} </p>
                <span class="promotors"><strong>Advisors: </strong> {{ entry.people }} </span>
                <span class="area">
                    <img src=img/{{ entry.area }}.png style="width:20px;height:20px;">
                </span>
                <a href="thesistopics/{{ entry.file }}.html">Read more...</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %} 
    </tbody>
    </table>
    